<!-- templates/profile.html -->
 {% extends 'blog/base.html' %}

{% load static %}

{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block content %}
    <h1>{{ user.username }}'s Profile</h1>
    <p>Email: {{ user.email }}</p>

    <h2>Your Blog Posts</h2>
    <ul>
        {% for post in user.posts.all %}
            <li>
                <a href="{% url 'blog_detail' post.id %}">{{ post.title }}</a> - {{ post.date_posted }}
                <a href="{% url 'blog_edit' post.id %}">Edit</a> | 
                <a href="{% url 'blog_delete' post.id %}">Delete</a>
            </li>
        {% empty %}
            <li>No posts created yet.</li>
        {% endfor %}
    </ul>
{% endblock %}
