<!-- templates/profile.html -->
 {% extends 'blog/base.html' %}

{% load static %}

{% block content %}
    <h1>{{ user.username }}'s Profile</h1>
    <p>Email: {{ user.email }}</p>

    <h2>Your Blog Posts</h2>
    <a href="{% url 'post-create' %}">Create New Post</a>  <!-- Link to create a new post -->
    <ul>
        {% for post in user.posts.all %}
            <li>
                <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a> - {{ post.published_date }}
                <a href="{% url 'post_update' post.id %}">Edit</a> | 
                <a href="{% url 'post_delete' post.id %}">Delete</a>
            </li>
        {% empty %}
            <li>No posts created yet.</li>
        {% endfor %}
    </ul>
{% endblock %}

